.navbarButton {
    color: #d4a373;
    background-color: transparent !important;
    border: none !important;
    box-shadow: none !important;
    font-size: inherit !important;
    padding: 0.5rem 1rem;
  }

  .navbarButton:hover {
    color: #432818 !important; 
  }